.menu {
  border: 1px solid blueviolet;
  display: flex;
  padding: 12px 0 12px 8px;
  gap: 8px;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: antiquewhite;
}

.menu a:hover {
  color: chartreuse;
  text-decoration: underline;
}
